@import "./../../styles.scss";

$parentLeftPadding: 12px;

.dropdown-body {
  &:hover {
    cursor: pointer;
  }
}

.icon-container {
  position: absolute;
  right: 5px;
  top: 15px;
}

.caret-down-icon {
  color: white;
}

.caret-up-icon {
  color: white;
}

.dropdown-label {
  font-size: medium;
  font-weight: bold;
  color: white;
}

.dropdown-title {
  display: flex;
  position: relative;
  padding: $parentLeftPadding;
}

.clicked {
  background-color: $selectedColor;
}

.unclicked {
  &:hover {
    .dropdown-label,
    .caret-down-icon {
      color: $selectedColor;
    }
  }
}

.dropdown-option {
  color: white;
  padding: $parentLeftPadding;
}

.dropdown-option:hover {
  background-color: $selectedColor;
}

.dropdown-option-container {
  width: max-content;
  background-color: $headerColor;
  position: absolute;
}
